<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
  
    <%= link_to "ブログを作成する", new_picture_path, class: 'btn btn-default' %>
    <h1>ブログ一覧</h1>
    <% @pictures.each do |picture| %>
        <div class="row">
          <p><%= picture.user.name %></p>
          <p><%= image_tag picture.image_url %></p>
          <p><%= picture.content %></p>
          <%= link_to "編集", edit_picture_path(picture), class: 'btn btn-default btn-sm btn-success' %>
          <%= link_to "削除",picture_path(picture), method: :delete, data: {confirm: "本当に削除していいですか？"}, class: 'btn btn-default btn-sm btn-danger' %>
        </div>
    <% end %>

  </div>
</div>
